/* Media Query button behavior */
@media only screen and (max-width: 600px) {
  button {
    width: 90vw;
    margin-bottom: 2vh;
  }
}

/* On-load animations */
@keyframes fadeInElements {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes titleShift {
  100% {
    transform: translateY(0px);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(-20px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(20px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes expandBounce {
  20% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(3px);
  }
  80% {
    transform: translateY(0px);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0px);
  }
}

/* Applied keyframes */

.expand-more {
  opacity: 0;
  animation: slideIn 1.5s forwards, fadeInElements 0.5s 2s ease 1 forwards,
    expandBounce ease 2s infinite;
  animation-delay: 2s;
}

.model_S h1 {
  animation: titleShift ease 0.5s forwards;
  animation-delay: 1s;
}

aside,
nav {
  animation: fadeInElements 1.5s;
}

.hero--title h1 {
  transform: translateY(20px);
}

.hero--title p {
  opacity: 0;
  animation: fadeInElements 0.5s 2s ease 1 forwards;
  animation-delay: 1.5s;
}

.hero--buttons {
  opacity: 0;
  animation: fadeInElements 0.3s 1s ease 1 forwards;
  animation-delay: 1.5s;
}

.hero--buttons .hero--left-button {
  animation: slideInRight 0.3s 1s linear 1 forwards;
  animation-delay: 1.5s;
}

.hero--buttons .hero--right-button {
  animation: slideInLeft 0.3s 1s linear 1 forwards;
  animation-delay: 1.5s;
}

/* General CSS */
html,
body,
main {
  overflow: visible;
  box-sizing: border-box;
  font-family: "Gotham SSm", "-apple-system", "BlinkMacSystemFont", "Segoe UI",
    "Roboto", "Helvetica Neue", "Arial", "sans-serif";
}

main {
  position: fixed;
  width: 100vw;
}

.nav--menu-list {
  display: none;
}

/* footer; hidden until event handlers implemented */

footer {
  /* display: inline-block; */
  display: none;
  position: fixed;
  transform: translate(30vw, 90vh);
}
/* CSS for hero screen text */
section {
  gap: 10em;
}

.hero--title {
  justify-content: center;
  position: fixed;
  width: 100vw;
  transform: translateY(15vh);
}

.hero--title p,
.hero--title a {
  color: black;
  font-weight: 200;
}

.hero--buttons {
  display: inline;
  position: fixed;
  width: 100vw;
  transform: translateY(80vh);
}

.hero--buttons ul {
  position: fixed;
}

.hero--title h1 {
  font-size: xxx-large;
  font-weight: 400;
  margin-top: 4vh;
}

.hero--buttons .hero--left-button {
  background-color: black;
  opacity: 75%;
  color: white;
  border: none;
  font-size: medium;
  padding: 0.7em 4em;
  border-radius: 2em;
}

.hero--buttons .hero--right-button {
  background-color: white;
  opacity: 75%;
  color: black;
  border: none;
  font-size: medium;
  padding: 0.7em 4em;
  border-radius: 2em;
}

.hero--left-button,
.hero--right-button {
  margin: 1vw;
}

/* Scroll snapping; not working yet*/
main {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow: scroll;
}

section {
  scroll-snap-align: start;
}

/* Stacks images on top of each other */
h1,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Removes margin edges from images */
body {
  margin: 0;
}

/* Aside announcement banner*/
aside {
  text-align: center;
  position: fixed;
  z-index: 1;
  top: 0vh;
  right: 0vw;
  left: 0vw;
  bottom: 92vh;
  background-color: rgba(255, 255, 255, 0.95);
}

aside a {
  font-weight: 250;
  color: rgb(44, 47, 52);
  line-height: 8vh;
}

/* navbar flex containers */

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  background-color: transparent;
  position: fixed;
  z-index: 1;
  width: 100vw;
  transform: translateY(8vh);
}

nav ul li {
  font-size: 14px;
  font-weight: 500;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

/* Specific, but hacky nav positioning */

.bar--logo {
  justify-content: left;
  padding: 0.5em 0em 0em 3em;
}

.bar--products {
  justify-content: center;
}

.nav--products {
  justify-content: center;
  padding-right: 2vw;
}

.bar--menu {
  justify-content: right;
}

.bar--menu ul {
  padding-right: 3vw;
}

section {
  text-align: center;
  color: #393c41;
  /* overflow-y: auto; */
}

/* Homescreen pics */
.model_S,
.model_Y,
.model_3,
.model_X,
.solar_panels,
.solar_roof,
.accessories {
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: grid;
  justify-content: center;
}

.model_S {
  background-image: url("/images/ms-homepage-desktop.jpg");
}

.model_Y {
  background-image: url("/images/Desktop-ModelY.jpg");
}

.model_3 {
  background-image: url("/images/M3-Homepage-D.jpg");
}

.model_X {
  background-image: url("/images/ModelX-Homepage-D.jpg");
}

.solar_panels {
  background-image: url("/images/_25-HP-SolarPanels-D.jpg");
}

.solar_roof {
  background-image: url("/images/solar-roof-hero-desktop.jpg");
}

.accessories {
  background-image: url("/images/Desktop-Accessories.jpg");
}

/* Footer */

footer ul li {
  display: inline-block;
  padding: 0.3em;
  font-size: small;
}

footer ul {
  text-align: center;
}

footer ul li a {
  color: #5c5d61;
  text-decoration: none;
}
